body {
    font-size: 18px;
    line-height: 34px;
    background: url("../images/concrete_seamless.png");
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #444140;
    line-height: 24px;
    max-width: 960px;
    font-size: 14px;
    margin: 0 auto;
}

/* general */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#fixfooter {
    padding: 0px;
}

h1,
h2,
h3
 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
}

p {
    margin-bottom: 0;
}

/*footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

/* main */

#main-container {
    padding-top: 25px;
    min-height: calc(100vh);
    background-color: #17261F;
}

#body-text {
    font-size: 14px;
    float: left;
    color: white;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

#bold-text {
    font-weight: 300;
}

/* portfolio page */

.int-image {
    width: 200px;
    height: 200px;
    margin: auto;    
    display: block;
}

.caption-text {
    text-align: center;
    color: #dddddd;
}

.sub-caption-text {
    text-align: center;
    font-size: 12px;
}

/* contact page */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}